<!doctype html>
<html lang="en">
   <head>
      <!--   <link rel="stylesheet" type="text/css" href="css/themes/easydropdown.css"/>
         -->  
      <link rel="stylesheet" type="text/css" href="../static/styles/easydropdown.flat.css"/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A layout example that shows off a responsive product landing page.">
      <title>Don't Read the Ipsum! A CHDCHI Masterpiece</title>
      <link rel="stylesheet" href="../static/styles/pure-min.css">
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="../static/styles/grids-responsive-min.css">
      <!--<![endif]-->
      <link rel="stylesheet" href="../static/styles/font-awesome.css">
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="../static/styles/marketing.css">
      <!--<![endif]-->
      <script src="../static/scripts/formatScripts.js"></script>
      <script src="../static/scripts/jquery.min.js"></script>
      <script src="../static/scripts/jquery.easydropdown.min.js" type="text/javascript"></script>
   </head>
   <body>
      <div class="splash-container">
         <div class="content">
            <img id="logo" src="../static/img/logo.png">
            <form>
            <div id="selectWrapper">
              <div class="inputContainer" id="leftbox">
                <select class="dropdown" id="inputType">
                   <option value="" class="label">input</option>
                   <option value="reddit">reddit thread</option>
                   <option value="handle">twitter handle</option>
                   <option value="replies">@replies to handle</option>
                   <option value="nyt">NY Times articles (term)</option>
                </select>
                <input type="text" id="inputID">
              </div><div class="inputContainer" id="rightbox">
                <select class="dropdown" id="outputType">
                   <option value="" class="label">output</option>
                   <option value="pars">paragraphs</option>
                   <option value="words">text block (# words)</option>
                   <option value="letter">letter</option>
                   <option value="poem">poem (# stanzas)</option>
                </select>
                <input type="text" id="outputNum">
              </div>
            </div>
            <input type="submit" value="MAKE MAGIC">
            </form>
            <div id="output" style="visibility:hidden"></div>
            <div id="garbage" style="display:none"><img src="../static/img/garbage.gif"></div>
         </div>
      </div>
      <div class="content-wrapper">
         <div class="footer l-box is-center">
            made in a weekend at comedy hack day chi by team ipsum
         </div>
      </div>
      <script>
        var input,
            inputType,
            outputType,
            inputID,
            outputNum,
            apiPath,
            data,
            example1,
            example2;

      $('#inputType').change(function(){
        var selectedOpts=[];
        $('select option:selected').each(function(index){
          if(index==0){
          switch($(this).val()){
            case("handle"):
            case("replies"):
              example1="neiltyson";
              break;
            case("reddit"):
              example1="https://redd.it/1jpg03";
              break;
            case("nyt"):
              example1="Obamacare";
              break;
            default:
              example1="";
              break;
          }
          $('#inputID').val(example1);
        }
        });
      });

      $('#outputType').change(function(){
        var selectedOpts=[];
        $('select option:selected').each(function(index){
          if(index==1){
          switch($(this).val()){
            case("pars"):
              example2="8";
              break;
            case("words"):
              example2="300";
              break;
            case("poem"):
              example2="8";
              break
            default:
              example2="";
              break;
          }
          $('#outputNum').val(example2);
        }
        });
      });

      $("form").submit(function(event){
        $('#garbage').css('visibility', 'visible');
        event.preventDefault();
        if($('#output:visible')){
          $('#output').css('display', 'none');
        }
          var inputType=$('#inputType').val();
          var outputType=$('#outputType').val();
          var inputID=$('#inputID').val();
          var outputNum=$('#outputNum').val();

          
          switch(inputType){
            case("reddit"):
              //get reddit url val and set vars
              apiPath='/api/comment/ipsum/reddit';
              data={count:2000, count_type:"words", source:inputID};
              break;
            case("handle"):
              //get twitter handle and set vars
              apiPath='/api/comment/ipsum/twitter';
              if(inputID.charAt(0)=="@"){inputID=inputID.substring(1);}
              data={count:2000, count_type:"words", source:inputID, tweets_or_replies:"tweets"};
              break;
            case("replies"):
              //get twitter handle and set vars
              apiPath='/api/comment/ipsum/twitter';
              if(inputID.charAt(0)=="@"){inputID=inputID.substring(1);}
              data={count:2000, count_type:"words", source:inputID, tweets_or_replies:"replies"};
              break;
            case("nyt"):
              apiPath='/api/comment/ipsum/nyt';
              data={count:2000, source:inputID};
              break;
          }

          console.log(data);
          $.post( apiPath, data, function( response ) {
              console.log(data);
              console.log(response);
              input = response.text;
          })
          .done(function(data){
            console.log("loaded");
            switch(outputType){
              case("pars"):
                $('#output').html(gimmeNormal(input, outputNum)).promise().done(showOutput());
                break;
              case("words"):
                $('#output').html(gimmeNormal(input, 1, outputNum)).promise().done(showOutput());
                break;
              case("letter"):
                $('#output').html(gimmeLetter(input)).promise().done(showOutput());
                break;
              case("poem"):
                $('#output').html(gimmeFreeVerse(input, outputNum)).promise().done(showOutput());
            }
          });          
      });
      function showOutput(){
        $('#garbage').delay(1000).fadeOut('fast');
        $('#output').delay(1200).slideDown('slow');
        console.log("trigger");
      }
      </script>
   </body>
</html>
