<!doctype html>
<html lang="en">
   <head>
      <!--   <link rel="stylesheet" type="text/css" href="css/themes/easydropdown.css"/>
         -->  
      <link rel="stylesheet" type="text/css" href="css/themes/easydropdown.flat.css"/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A layout example that shows off a responsive product landing page.">
      <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--<![endif]-->
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lte IE 8]>
      <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="css/layouts/marketing.css">
      <!--<![endif]-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="js/jquery.easydropdown.min.js" type="text/javascript"></script>
   </head>
   <body>
      <div class="splash-container">
         <div class="content">
            <img id="logo" src="img/logo.png">
            <select class="dropdown">
               <option value="" class="label">input</option>
               <option value="1">reddit</option>
               <option value="2">youtube</option>
               <option value="3">twitter</option>
            </select>
            <select class="dropdown">
               <option value="" class="label">output</option>
               <option value="1">haiku</option>
               <option value="2">letter</option>
               <option value="3">poem</option>
            </select>
            <div class="go">go</div>
         </div>
      </div>
      <div class="content-wrapper">
         <div class="footer l-box is-center">
            made in a weekend at comedy hack day chi by team ipsum
         </div>
      </div>
   </body>
</html>